<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb @Model.Degree">
                        @if (Model.Degree == "giaosu")
                        {
                            <img src="content/images/top-header2.jpg" alt="nature">
                        }
                        else
                        {
                            <img src="content/images/top-header1.jpg" alt="nature">
                        }
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 ">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="#" onclick='getview("newsfeed")'>Timeline</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick='getview("about")'>Thông tin</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-5 offset-md-2">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="#" onclick='getview("friend")'>Bạn bè</a>
                                    </li>
                                    <li>
                                        <div class="more">
                                            <svg class="olymp-three-dots-icon"><use xlink:href="content/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                            <ul class="more-dropdown more-with-triangle">
                                                @if (Model.Id == Model.User.Id)
                                                {
                                                    <li>
                                                        <a href="YourAccount?option=updateinfo">Quản lý tài khoản</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="#" data-toggle="modal" data-target="#report-profile">Báo cáo xấu</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="control-block-button">
                            @if (Model.Id == Model.User.Id)
                            {
                                <div class="btn btn-control bg-primary more">
                                    <svg class="olymp-settings-icon"><use xlink:href="content/icons/icons.svg#olymp-settings-icon"></use></svg>

                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-header-photo">Cài đặt ảnh đại diện</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-header-photo">Cài đặt ảnh nền</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                if (Model.CodeRelationshipId == 0)
                                {
                                    <a href="#" class="btn btn-control bg-blue friend" id="add_friend" data-code="-1">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </a>
                                }
                                else if (Model.CodeRelationshipId == 1)
                                {
                                    <a href="#" class="btn btn-control bg-primary friend" data-toggle="modal" data-target="#confirm-delete">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </a>
                                }
                            }

                        </div>
                    </div>
                    <div class="top-header-author">
                        <a href="Profile" class="author-thumb @Model.Degree">
                            <img src="content/images/@Model.Avatar" alt="author">
                        </a>
                        <div class="author-content">
                            <a href="Profile" class="h4 author-noame">@Model.Name</a>
                            @if (Model.Degree == "giaosu")
                            {
                                <div class="country">Giáo sư</div>
                            }
                            else
                            {
                                <div class="country">Tiểu học</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Window-popup Report -->

<div class="modal fade" id="report-profile">
    <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Đây là người xấu?</h6>
        </div>

        <div class="ui-block-content">
            <fieldset class="form-group label-floating is-select">
                <label class="control-label">Người này đã vi phạm vì</label>
                <select class="selectpicker form-control" size="auto">
                    <option value="1">Đăng nhiều bài có nội dung xấu, kích động</option>
                    <option value="2">Có tác động tiêu cực đến mọi người</option>
                </select>
            </fieldset>

            <p>
                Olympus cảm ơn bạn rất nhiều!
            </p>
            <p>
                <b>Make Olympus great againt!</b>
            </p>
            <div class="modal-button">
                <a href="#" class="btn btn-secondary btn-lg btn--half-width btn-icon-center" data-dismiss="modal" aria-label="Close">Thôi, tha</a>
                <a href="#" class="btn btn-primary btn-lg btn--half-width btn-icon-center" data-toggle="modal" data-target="#thankreport" data-dismiss="modal" aria-label="Close">Xóa dùm</a>
            </div>
        </div>

    </div>
</div>

<!-- ... end Window-popup Report -->

<div class="modal fade" id="thankreport">
    <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Đã báo cáo thành công</h6>
        </div>

        <div class="ui-block-content">
            <p>
                Olympus cảm ơn bạn rất nhiều!
            </p>
            <p>
                <b>Make Olympus great againt!</b>
            </p>
            <div class="modal-button">
                <a href="#" class="btn btn-primary btn-lg btn-icon-center" data-dismiss="modal" aria-label="Close">OK</a>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="confirm-delete">
    <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Bạn có chắc chắn với sự lựa chọn</h6>
        </div>

        <div class="ui-block-content">
            <p>
                <b>@Model.Name</b> sẽ nhớ bạn rất nhiều đó...
            </p>
            <div class="modal-button">
                <a href="#" class="btn btn-primary btn-lg btn-icon-center" data-dismiss="modal" aria-label="Close">Bỏ qua</a>
                <a href="#" class="btn btn-primary btn-lg btn-icon-center" id="add_friend" data-code="0" data-dismiss="modal" aria-label="Close">Chắc chắn</a>
            </div>
        </div>

    </div>
</div>

<a href="#" id="add-ok-button" data-toggle="modal" data-target="#add-ok" style="display:none"></a>

<div class="modal fade" id="add-ok">
    <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Đợi chờ là hạnh phúc...</h6>
        </div>

        <div class="ui-block-content">
            <p>
                Đợi <b>@Model.Name</b> đồng ý và 2 người sẽ trở thành bạn bè nhé!
            </p>
            <div class="modal-button">
                <a href="#" class="btn btn-primary btn-lg btn-icon-center" data-dismiss="modal" aria-label="Close">OK</a>
            </div>
        </div>
    </div>
</div>

<a href="#" id="delete-ok-button" data-toggle="modal" data-target="#delete-ok" style="display:none"></a>

<div class="modal fade" id="delete-ok">
    <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Chúc mừng...</h6>
        </div>

        <div class="ui-block-content">
            <p>
                Bạn và <b>@Model.Name</b> không còn theo dõi nhau nữa!
            </p>
            <p>
                Tuy nhiên, hãy vẫn giữ liên lạc với nhau nhé!
            </p>
            <p>
                <b>Make Olympus great againt!</b>
            </p>
            <div class="modal-button">
                <a href="#" class="btn btn-primary btn-lg btn-icon-center" data-dismiss="modal" aria-label="Close">OK</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", "#add_friend", function () {
        var data = {
            Id_User : '@Model.User.Id',
            Id_Friend : '@Model.Id',
            CodeRelationshipId: $(this).attr("data-code"),
        }
        $.post('/Dictionary/', data).done(function (response) {
            if (response.result == "success") {
                if (data.CodeRelationshipId == 0) {
                    $("#delete-ok-button").click();
                    $("#add_friend.friend").removeClass("bg-primary").addClass("bg-blue");
                }
                else if (data.CodeRelationshipId == -1){
                    $("#add-ok-button").click();
                    $("#add_friend.friend").removeClass("bg-blue").addClass("bg-blue-light");
                }
            }
            else {
                $("#notify .ui-block-content p").html("Thành thật xin lỗi. <br/>Hình như có lỗi gì đó rồi, thử lại sau nhé!!!");
                $("#notify-button").click();
            }
        }).fail(function (response) {
            $("#notify .ui-block-content p").html("Thành thật xin lỗi. <br/>Hình như có lỗi gì đó rồi, thử lại sau nhé!!!")
            $("#notify-button").click();
        })
    });
</script>