@model Framework.ViewModels.MorePostViewModel

@if (Model.ListPost.Count != 0)
{
    foreach (Framework.ViewModels.PostViewModel post in Model.ListPost)
    {
        <div class="ui-block" id="@post.Id">
            <article class="hentry post">
                <div class="post__author author vcard inline-items @post.Degree">
                    <a href="Profile?username=@post.UserName&option=newsfeed">
                        <img src="content/images/@post.Avatar" alt="author">
                    </a>

                    <div class="author-date">
                        <a class="h6 post__author-name fn" href="Profile?username=@post.UserName&option=newsfeed">@post.Name</a>
                        <div class="post__date">
                            <a href="Post?Id=@post.Id" style=" color: #9E9E9E; font-weight: 100; " target="_blank">
                                <time class="published" data-time="@post.DatePost">
                                </time>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <svg class="olymp-three-dots-icon"><use xlink:href="content/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                        <div class="more-dropdown">
                            <a href="#" data-toggle="modal" data-target="#report">Báo cáo xấu</a>
                        </div>
                    </div>
                </div>

                <h6 class="tag">
                    <a href="/?type=@post.Id_Type">
                        Thể loại: <span>@post.TypeToString</span>
                    </a>
                </h6>
                <p>
                    @post.Content
                </p>

                @if (post.Option == 1)
                {
                    <div class="control-block-button post-control-button">
                        <a class="btn btn-control expert-answer" data-toggle="tooltip" data-placement="bottom" data-original-title="Câu hỏi dành cho Chuyên gia">
                            <svg class="olymp-star-icon"><use xlink:href="content/icons/icons.svg#olymp-star-icon"></use></svg>
                        </a>
                    </div>
                }

                <div class="post-additional-info inline-items">
                    @if (post.Vote == 1)
                    {
                        <a href="#" class="post-add-icon inline-items upvote active clicked">
                            <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                            <span>@post.UpVote</span>
                        </a>
                        <a href="#" class="post-add-icon inline-items downvote">
                            <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                            <span>@post.DownVote</span>
                        </a>
                    }
                    else if (post.Vote == -1)
                    {
                        <a href="#" class="post-add-icon inline-items upvote">
                            <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                            <span>@post.UpVote</span>
                        </a>
                        <a href="#" class="post-add-icon inline-items downvote active clicked">
                            <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                            <span>@post.DownVote</span>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="post-add-icon inline-items upvote">
                            <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                            <span>@post.UpVote</span>
                        </a>
                        <a href="#" class="post-add-icon inline-items downvote">
                            <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                            <span>@post.DownVote</span>
                        </a>
                    }

                    <div class="comments-shared">
                        <div class="post-add-icon inline-items">
                            <svg class="olymp-speech-balloon-icon"><use xlink:href="content/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                            <span>@post.Comment</span>
                        </div>
                    </div>
                </div>

            </article>

            <div class="comment-section">
                <ul class="comments-list">
                    @foreach (var commentParent in post.listComment)
                    {
                        string id = "p" + commentParent.Id_Post + "c-" + commentParent.Id;
                        if (commentParent.listChildComment.Count != 0)
                        {
                            if (commentParent.Corrected)
                            {
                                @Html.Raw("<li class='has-children parent lazy-show showed answer' id='" + id + "'>")
                            }
                            else
                            {
                                @Html.Raw("<li class='has-children parent lazy-show not-showed' id='" + id + "'>")
                            }
                        }
                        else
                        {
                            if (commentParent.Corrected)
                            {
                                @Html.Raw("<li class='parent lazy-show showed answer' id='" + id + "'>")
                            }
                            else
                            {
                                @Html.Raw("<li class='parent lazy-show not-showed' id='" + id + "'>")
                            }
                        }
                        <div class="post__author author vcard inline-items @commentParent.Degree">
                            <a href="Profile?username=@commentParent.UserName&option=newsfeed">
                                <img src="content/images/@commentParent.Avatar" alt="author">
                            </a>

                            <div class="author-date">
                                <a href="Profile?username=@commentParent.UserName&option=newsfeed" class="h6 post__author-name fn" href="#">@commentParent.Name</a>
                                <div class="post__date">
                                    <time class="published" data-time="@commentParent.DateComment">
                                    </time>
                                </div>
                            </div>

                            <div class="more">
                                <svg class="olymp-three-dots-icon"><use xlink:href="content/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                <div class="more-dropdown">
                                    <a href="#" data-toggle="modal" data-target="#report">Báo cáo xấu</a>
                                </div>
                            </div>
                        </div>

                        <p>
                            @commentParent.Content
                        </p>
                        if (commentParent.Vote == 1)
                        {
                            <a href="#" class="post-add-icon inline-items upvote clicked active">
                                <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                                <span>@commentParent.UpVote</span>
                            </a>
                            <a href="#" class="post-add-icon inline-items downvote ">
                                <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                                <span>@commentParent.DownVote</span>
                            </a>
                        }
                        else if (commentParent.Vote == -1)
                        {
                            <a href="#" class="post-add-icon inline-items upvote">
                                <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                                <span>@commentParent.UpVote</span>
                            </a>
                            <a href="#" class="post-add-icon inline-items downvote clicked active">
                                <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                                <span>@commentParent.DownVote</span>
                            </a>
                        }
                        else
                        {
                            <a href="#" class="post-add-icon inline-items upvote">
                                <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                                <span>@commentParent.UpVote</span>
                            </a>
                            <a href="#" class="post-add-icon inline-items downvote">
                                <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                                <span>@commentParent.DownVote</span>
                            </a>
                        }

                        <a class="reply">Trả lời</a>

                        if (Model.UserId == post.Id_User)
                        {
                            <div class="control-block-button post-control-button">
                                <a class="btn btn-control mark-answer" data-toggle="tooltip" data-placement="bottom" data-original-title="Chấp nhận">
                                    <svg class="olymp-like-post-icon"><use xlink:href="content/icons/icons.svg#olymp-like-post-icon"></use></svg>
                                </a>
                            </div>
                        }

                        <ul class="children">
                            @if (commentParent.listChildComment.Count != 0)
                            {
                                foreach (var childComment in commentParent.listChildComment)
                                {
                                    <li class="showed">
                                        <div class="post__author author vcard inline-items @childComment.Degree">
                                            <a href="Profile?username=@childComment.UserName&option=newsfeed">
                                                <img src="content/images/@childComment.Avatar" alt="author">
                                            </a>

                                            <div class="author-date">
                                                <a href="Profile?username=@childComment.UserName&option=newsfeed" class="h6 post__author-name fn">@childComment.Name</a>
                                                <div class="post__date">
                                                    <time class="published" data-time="@childComment.DateComment">
                                                    </time>
                                                </div>
                                            </div>

                                            <div class="more">
                                                <svg class="olymp-three-dots-icon"><use xlink:href="content/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                                <div class="more-dropdown">
                                                    <a href="#" data-toggle="modal" data-target="#report">Báo cáo xấu</a>
                                                </div>
                                            </div>

                                        </div>

                                        <p style=" margin-bottom: 0; ">@childComment.Content</p>

                                    </li>

                                }
                            }
                        </ul>
                        @Html.Raw("</li>")
                    }
                </ul>

                @if (post.listComment.Count > 2)
                {
                    <div class="more-comments">Xem thêm bình luận <span>+</span></div>
                }

                <form class="comment-form inline-items">
                    <div class="post__author author vcard inline-items @Model.Degree">
                        <a href="Profile?username=@Model.UserName&option=newsfeed">
                            <img src="content/images/@Model.Avatar" alt="author">
                        </a>
                    </div>

                    <div class="form-group with-icon-right ">
                        <textarea class="form-control" placeholder="Trả lời nào..." id="comment" name="Content"></textarea>
                        <div class="add-options-message">
                            <a class="options-message" id="submit">
                                <svg class="olymp-speech-balloon-icon"><use xlink:href="content/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                            </a>
                        </div>
                        <span class="material-input"></span>
                        <input type="hidden" name="Id_User" value="@Model.UserId" />
                        <input type="hidden" name="Id_Post" value="@post.Id" />
                        <input type="hidden" name="Id_Comment" value="0" />
                        <input type="hidden" name="Comment" value="0" />
                        <input type="hidden" name="DateComment" value="" />
                    </div>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="landing-main-content" onclick="scrollto('#question-form')" style="    cursor: pointer;">
        <h2 class="title">Rất tiếc, hết rồi!</h2>
        <p>Nhấn vào đây để đặt thêm câu hỏi nhé!</p>
    </div>
    <script>
        $("#load-more-button").fadeOut("slow");
    </script>
}
