@model Framework.ViewModels.PostViewModel

<div class="ui-block" id="@Model.Id">
    <article class="hentry post">
        <div class="post__author author vcard inline-items @Model.Degree">
            <a href="Profile?username=@Model.UserName&option=newsfeed">
                <img src="content/images/@Model.Avatar" alt="author">
            </a>

            <div class="author-date">
                <a class="h6 post__author-name fn" href="Profile?username=@Model.UserName&option=newsfeed">@Model.Name</a>
                <div class="post__date">
                    <a href="Post?Id=@Model.Id" style=" color: #9E9E9E; font-weight: 100; " target="_blank">
                        <time class="published" data-time="@Model.DatePost">
                        </time>
                    </a>
                </div>
            </div>
            <div class="more">
                <svg class="olymp-three-dots-icon"><use xlink:href="content/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                <div class="more-dropdown">
                    <a href="#" data-toggle="modal" data-target="#report">Báo cáo xấu</a>
                </div>
            </div>
        </div>

        <h6 class="tag">
            Thể loại: <span>@Model.TypeToString</span>
        </h6>
        <p>
            @Model.Content
        </p>

        <div class="post-additional-info inline-items">

            <a href="#" class="post-add-icon inline-items upvote">
                <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                <span>@Model.UpVote</span>
            </a>
            <a href="#" class="post-add-icon inline-items downvote">
                <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
                <span>@Model.DownVote</span>
            </a>

            <div class="comments-shared">
                <div class="post-add-icon inline-items">
                    <svg class="olymp-speech-balloon-icon"><use xlink:href="content/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                    <span>@Model.Comment</span>
                </div>
            </div>
        </div>

    </article>

    <div class="comment-section">
        <ul class="comments-list"></ul>

        <form class="comment-form inline-items">
            <div class="post__author author vcard inline-items @Model.Degree">
                <a href="Profile?username=@Model.UserName&option=newsfeed">
                    <img src="content/images/@Model.Avatar" alt="author">
                </a>
            </div>

            <div class="form-group with-icon-right ">
                <textarea class="form-control" placeholder="Trả lời nào..." id="comment" name="Content"></textarea>
                <div class="add-options-message">
                    <a class="options-message" id="submit">
                        <svg class="olymp-speech-balloon-icon"><use xlink:href="content/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                    </a>
                </div>
                <span class="material-input"></span>
                <input type="hidden" name="Id_User" value="@Model.Id_User" />
                <input type="hidden" name="Id_Post" value="@Model.Id" />
                <input type="hidden" name="Id_Comment" value="0" />
                <input type="hidden" name="Comment" value="0" />
                <input type="hidden" name="DateComment" value="" />
            </div>
        </form>
    </div>
</div>

<script>
    scrollto("#" + '@Model.Id');
    if ('@Model.Option' != 0){
            $("#thankyou-button").click();
    }
</script>