@model Framework.ViewModels.HomeViewModel

<div class="waiting_loader" style="display: none"></div>

<div class="header-spacer"></div>


<div class="container">
    <div class="row">

        <!-- Main Content -->

        <main class="col-xl-6 push-xl-3 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">
            <div id="newsfeed-items-grid">

                @if (Model.Roles.Count == 0)
                {
                    <div class="ui-block">
                        <div class="news-feed-form">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                                    <form id="question-form">
                                        <div class="author-thumb @Model.User.Degree">
                                            <img src="content/images/@Model.User.Avatar" alt="author">
                                        </div>
                                        <div class="form-group with-icon label-floating is-empty">
                                            <label class="control-label">Bạn đang thắc mắc về...</label>
                                            <textarea class="form-control" placeholder="" name="Content"></textarea>
                                            <div class="selection">
                                                <p>Hỏi tất cả mọi người</p>
                                                <div class="togglebutton" data-toggle="tooltip" data-placement="top" title="Bật để hỏi Thầy cô nha!">
                                                    <label>
                                                        <input type="checkbox">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="add-options-message row ask-teacher">
                                            <label class="control-label">Vui lòng chọn loại câu hỏi</label>
                                            <fieldset class="form-group">
                                                <select class="selectpicker form-control" size="auto" name="Id_Type">
                                                    @foreach (var item in @Model.ListPostType)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </fieldset>
                                        </div>
                                        <input type="hidden" name="DatePost" />
                                        <input type="hidden" name="Id_User" value="@Model.User.Id" />
                                        <input type="hidden" name="Option" value="0" />

                                        <div class="status-footer">
                                            <input type="submit" class="btn btn-primary btn-md-2" value="Đăng tải" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.ListPost == null)
                {
                    <div class="landing-main-content">
                        <h2 class="title">Rất tiếc, không tìm thấy</h2>
                        <p>Có vẻ như chưa có câu hỏi nào được đặt cho bạn</p>
                    </div>
                }
                <div id="partial">

                </div>

            </div>
            @if (Model.ListPost != null)
            {
                <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="content/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
            }
        </main>

        @if (Model.ListPost != null)
        {
        <!-- ... end Main Content -->
            @Html.Partial("_Notices")

            @Html.Partial("_Activities")
        }

        <!-- Window-popup Report -->

        <div class="modal fade" id="report">
            <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
                </a>

                <div class="ui-block-title">
                    <h6 class="title">Bài đăng này có nội dung xấu hay không phù hợp?</h6>
                </div>

                <div class="ui-block-content">
                    <fieldset class="form-group label-floating is-select">
                        <label class="control-label">Bài đăng này đã vi phạm vì</label>
                        <select class="selectpicker form-control" size="auto">
                            <option value="1">Nội dung xấu, kích động</option>
                            <option value="2">Chứa từ ngữ xấu, không phù hợp</option>
                        </select>
                    </fieldset>

                    <p>
                        Olympus cảm ơn bạn rất nhiều!
                    </p>
                    <p>
                        <b>Make Olympus great againt!</b>
                    </p>
                    <div class="modal-button">
                        <a href="#" class="btn btn-secondary btn-lg btn--half-width btn-icon-center" data-dismiss="modal" aria-label="Close">Thôi, tha</a>
                        <a href="#" class="btn btn-primary btn-lg btn--half-width btn-icon-center">Xóa dùm</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- ... end Window-popup Report -->
        <!-- Window-popup Thank you -->
        <a data-toggle="modal" data-target="#thankyou" id="thankyou-button"></a>
        <div class="modal fade" id="thankyou">
            <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
                </a>

                <div class="ui-block-title">
                    <h6 class="title">Đã đăng bài thành công</h6>
                </div>

                <div class="ui-block-content">
                    <p>
                        Hệ thống đang tìm kiếm chuyên gia, vui lòng đợi trong giây lát...
                    </p>
                    <div class="modal-button">
                        <a href="#" class="btn btn-primary btn-lg btn-icon-center" data-dismiss="modal" aria-label="Close">OK</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- ... end Window-popup Thank you -->

    </div>
</div>

@if (ViewBag.newMember == "new")
{
    <!-- Window-popup Thank you -->
    <a data-toggle="modal" data-target="#type" id="type-button"></a>
    <div class="modal fade" id="type">
        <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
            </a>

            <div class="ui-block-title">
                <h6 class="title">Mời bạn chọn loại câu hỏi mà bạn hứng thú</h6>
            </div>

            <div class="ui-block-content">
                <div class="ui-block">
                    @foreach (var item in @Model.ListPostType)
                    {
                        <div class="available-widget">
                            <div class="checkbox">
                                <label>
                                    <input name="Type" value="@item.Id" type="checkbox">
                                    @item.Name
                                </label>
                            </div>
                        </div>
                    }

                </div>

                <div class="modal-button">
                    <a href="#" class="btn btn-primary btn-lg btn-icon-center" data-dismiss="modal" aria-label="Close">OK</a>
                </div>
            </div>

        </div>
    </div>
    <!-- ... end Window-popup Thank you -->
    <!-- ... end Window-popup Report -->
    <a data-toggle="modal" data-target="#thanks" id="thanks-button"></a>

    <div class="modal fade" id="thanks">
        <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="~/content/icons/icons.svg#olymp-close-icon"></use></svg>
            </a>

            <div class="ui-block-title">
                <h6 class="title">Cảm ơn bạn</h6>
            </div>

            <div class="ui-block-content">
                <p>
                    Cảm ơn bạn!
                </p>
                <p>
                    Olympus đã ghi nhớ!
                </p>
                <p>
                    <b>Chúc bạn học tốt nhá!!!</b>
                </p>
                <div class="modal-button">
                    <a href="/?" class="btn btn-primary btn-lg btn-icon-center">Trở lại với Olympus</a>
                </div>
            </div>

        </div>
    </div>
    <script>
        setTimeout(function () { $("#type-button").click(); }, 3000);
        var typeList = [];
        $(document).on("click", "#type .modal-button a", function () {
            $(".checkbox.clicked input[name='Type']").each(function () {
                typeList.push($(this).val());
            });
            var data = { UserID: '@Model.User.Id', TypeList: typeList }
            $.post('/Home/RegisterType', data).done(function (response) {
                if (response.result == "success") {
                    $("#thanks-button").click();
                }
                else {
                    $("#notify .ui-block-content p").html("Thành thật xin lỗi. <br/>Hình như có lỗi gì đó rồi, thử lại sau nhé!!!");
                    $("#notify-button").click();
                }
            }).fail(function (response) {
                $("#notify .ui-block-content p").html("Thành thật xin lỗi. <br/>Hình như có lỗi gì đó rồi, thử lại sau nhé!!!")
                $("#notify-button").click();
            })
        })

    </script>
}